#header {
    padding-right: 120px;
}

#header1{
    padding-right:50px;
}

#play {
    display: inline-block;
    width: 200px;
}

#play_2 {
    display: inline-block;
    width: 200px;
}

#results {
    display: inline-block;
    width: 200px;
    margin-top: 30px
}

#scores {
    display: inline-block;
    width: 200px;
    margin-top: 30px
}

@font-face {
    font-family: titleFont;
    src: url(title-font.ttf);
}

#title {
    font-family: titleFont
}

#res {
    font-family: titleFont
}

#table {
    font-family: titleFont
}

#head {
    font-size: 25px;
}

#quiz {
    font-family: titleFont
}

#question {
    font-size: 25px
}

#scorez{
    font-family: titleFont
}

#resultz{
    font-family: titleFont
}
